:root {
    --verde-medio: #5a640e;
    --verde-claro: #d2d97b; /* verde */
    --cafe-oscuro: #3d3216; /* rojo */
    --blanco: #f6f6f6; /* gris claro */
    --rosa-claro: #efcaa0; /* gris oscuro */    
    --verde-oscuro: #355c01; /* gris claro */
    --cafe-claro: #95703c; /* gris oscuro */
  }