/* src/styles/fonts.css */


@font-face {
    font-family: "Raleway-Bold";
    src: url("/public/fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("/public/fonts/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: "Raleway-ExtraLight";
    src: url("/public/fonts/Raleway-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Heavy";
    src: url("/public/fonts/Raleway-Heavy.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Raleway-Italic-VariableFont-wght";
    src: url("/public/fonts/Raleway-Italic-VariableFont-wght.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("/public/fonts/Raleway-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("/public/fonts/Raleway-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("/public/fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("/public/fonts/Raleway-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("/public/fonts/Raleway-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Variablefont-wght";
    src: url("/public/fonts/Raleway-Variablefont-wght.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}