@import './colors.css';
@import './fonts.css';



body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--verde-oscuro);
}

.container-header {
    display: flex;
    align-items: center;
    height: 3.5rem;
}

.logo {
    background-color: var(--verde-claro);
    width: 12rem;
    height: 6rem;
    margin-left: 4rem;
    border-bottom-right-radius: 1rem /* 6px */;
    border-bottom-left-radius: 1rem /* 6px */;
    border-right: 0.15rem solid var(--verde-medio); /* Solo borde derecho en color azul con estilo punteado */
    border-bottom: 0.15rem solid var(--verde-medio); /* Borde inferior en color verde y doble línea */
    border-left: 0.15rem solid var(--verde-medio);
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: auto;
        height: auto;
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }    
}

.nav-menu {
    display: flex;
    font-family: "Raleway-extrabold";
    margin-left: 4rem;
    color: var(--blanco);
    font-size: 1rem;    
    gap: 2rem; 

    .link:hover {
        color: var(--verde-claro); 
    }
}

.language-selector {
    position: relative;
    display: inline-block;
  }
  
  .language-button {
    background: none;
    border: none;
    color: (--blanco);
    cursor: pointer;
    font-family: "Raleway-bold";
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .language-button:hover {
    color: var(--verde-claro);
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: -1.5rem;
    background-color: var(--verde-oscuro);
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
  }
  
  .dropdown button:hover {
    color: var(--verde-claro);
  }

  /**Auth Layout*/
.auth-container{
  background-image: url('/images/trama.svg');
  background-repeat: repeat ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container-admin{
  display: flex;
  flex-direction: column;
}

.auth-main{
  width: 22rem; 
  margin-top: 1rem; 
  margin-bottom: 1rem;
  text-align: center;
  display: block;

  img {
    width: 15rem;
    display: inline-block;
  }
}

.footer-auth{
  width: 100%;
  display: flex;
  font-family: "Raleway-bold";
  background-color: transparent;
  padding: 1.5rem 6rem 0 6rem;
  color: black;
}

.footer-admin{
  width: 100%;
  display: flex;
  font-family: "Raleway-bold";
  background-color: var(--cafe-oscuro);
  padding: 1.5rem 6rem 1.5rem 6rem;
  color: white;

  img{
    color: white;
  }
}

.footer-title, .footer-admin-title{
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.footer-link, .footer-admin-link{
  width: 50%;
  display: flex; 
  justify-content: flex-end;   
  gap: 1rem;

  svg{
    width: 2rem;
    height: auto;    
}
}

form{
  font-family: "Raleway-bold";
}
.form_login{
  justify-content: center;
  text-align: center;
  font-family: "Raleway-bold";
  color: grey;
  margin-top: 0;

  input {
    border-radius: 0.3rem;    
    box-shadow: 
      1px 0 4px rgba(0, 0, 0, 0.3),  /* Sombra en el lado derecho */
      -1px 0 4px rgba(0, 0, 0, 0.3), /* Sombra en el lado izquierdo */
      0 1px 4px rgba(0, 0, 0, 0.3);
  }
  input:nth-child(3){
    background-color: var(--verde-medio);
    margin-bottom: 1rem; 
  }

  input:nth-child(3):hover{
    background-color: var(--verde-claro);
    opacity: 1;
  }
  
}

.input-request-code{
  background-color: var(--verde-medio);  
  font-family: "Raleway-bold";
}
.input-request-code:hover{
  background-color: var(--verde-claro);
  opacity: 1;
}

.profile{
  font-family: "Raleway-bold";
  text-transform: uppercase;
  width: auto;
}
.userDropdown{
  width: auto;
  background-color: var(--verde-oscuro);
  border-bottom-right-radius: 1rem /* 6px */;
    border-bottom-left-radius: 1rem /* 6px */;
    border-right: 0.15rem solid var(--verde-medio); /* Solo borde derecho en color azul con estilo punteado */
    border-bottom: 0.15rem solid var(--verde-medio); /* Borde inferior en color verde y doble línea */
    border-left: 0.15rem solid var(--verde-medio);
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;

    button:hover{
      color: var(--verde-claro);
    }
    a:hover{
      color: var(--verde-claro);
    }
}

.tabs{
  border-color: var(--verde-oscuro);
  color: var(--verde-oscuro);
}